.main{
    width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}