<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student_send</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.16.0/js/md5.js"></script>
</head>
<body>
<div id="app">
    <el-form :model="search" >
        <el-row>
            <el-col :span="6">
                <el-form-item label="状态">
                    <el-select v-model="search.selectStatus" placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限" ></el-option>
                        <el-option value="未查阅" ></el-option>
                        <el-option value="已查阅" ></el-option>
                        <el-option value="已回复" ></el-option>
                        <el-option value="人才库" ></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="岗位">
                    <el-select v-model="search.selectJob" filterable  placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限"></el-option>
                        <el-option
                                v-for="item in jobNameList"
                                :key="item.jobName"
                                :label="item.jobName"
                                :value="item.jobName">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="12">
                <el-from-item>
                    <el-input placeholder="请输入学生姓名" v-model="search.studentName" class="input-with-select" @change="createcode">
                        <el-button slot="append" icon="el-icon-search"  @blur="createcode"></el-button>
                    </el-input>
                </el-from-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="6">
                <el-form-item label="学历">
                    <el-select v-model="search.education" placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限"></el-option>
                        <el-option value="研究生"></el-option>
                        <el-option value="本科"></el-option>
                        <el-option value="专科"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="学制">
                    <el-select v-model="search.lengthOfSchooling" placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限"></el-option>
                        <el-option value="统招全日制"></el-option>
                        <el-option value="非全日制"></el-option>
                        <el-option value="其他"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="外语">
                    <el-select v-model="search.foreignLanguages" placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限"></el-option>
                        <el-option value="英语六级"></el-option>
                        <el-option value="英语四级"></el-option>
                        <el-option value="其他"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="6">
                <el-form-item label="性别">
                    <el-select v-model="search.sex" placeholder="请选择" style="width: 150px" @change="createcode">
                        <el-option value="不限"></el-option>
                        <el-option value="男"></el-option>
                        <el-option value="女"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-table
            :data="List"
            style="width: 100%">
        <el-table-column
                prop="studentName"
                label="学生姓名" >
        </el-table-column>
        <el-table-column
                prop="jobName"
                label="岗位名称">
            <template slot-scope="scope">
                <el-button type="text" @click.native.prevent="showJob(scope.row)">{{scope.row.jobName}}</el-button>
            </template>
        </el-table-column>
        <el-table-column
                prop="education"
                label="学历">
        </el-table-column>
        <!--<el-table-column
                prop="lengthOfSchooling"
                label="学制" >
        </el-table-column>-->
        <el-table-column
                prop="foreignLanguages"
                label="外语" >
        </el-table-column>
        <el-table-column
                prop="sex"
                label="性别"  width="50">
        </el-table-column>
        <!--<el-table-column
                prop="email"
                label="邮箱">
        </el-table-column>-->
        <el-table-column
                prop="resumeName"
                label="简历附件">
            <template slot-scope="scope">
                <el-button type="text" @click.native.prevent="showResune(scope.row)">{{scope.row.resumeName}}</el-button>
            </template>
        </el-table-column>
        <el-table-column
                prop="sendStatus"
                label="投递状态" width="80">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作">
            <template slot-scope="scope">
                <el-button type="text" @click.native.prevent="callResune(scope.row)">回复</el-button> |
                <el-button type="text" @click.native.prevent="closeResune(scope.row)">入库</el-button>
                <el-dialog title="邮件回复" :visible.sync="dialogSendEmail" width="50%" show-close>
                    <el-form :model="sendMsg" >
                        <el-form-item label="标题">
                            <el-input v-model="sendMsg.title"></el-input>
                        </el-form-item>
                        <el-form-item label="内容">
                            <el-input
                                    type="textarea"
                                    :autosize="{ minRows: 3, maxRows: 6}"
                                    placeholder="请输入内容"
                                    v-model="sendMsg.content"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="sendEmail">发送</el-button>
                    </div>
                </el-dialog>
            </template>
        </el-table-column>
    </el-table>
    <div tyle="text-align: center;">
        <el-pagination
                style="text-align: center;"
                background
                layout="total,prev, pager, next,jumper"
                :total="total"
                page-size="6"
                @prev-click="prevClick"
                @next-click="nextClick"
                @current-change="currentChange" >
        </el-pagination>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                userInfo: JSON.parse(sessionStorage.getItem("userInfo")),
                search:{
                    companyId:'',
                    studentName:'',
                    selectStatus:'',
                    selectJob:'',
                    education:'',
                    lengthOfSchooling:'',
                    foreignLanguages:'',
                    sex:'',
                    crrPage: 1
                },
                List:[],
                dialogSendEmail:false,
                sendMsg:{
                    id:'',
                    email:'',
                    title:'',
                    content:''
                },
                total:0,
                jobNameList:[],
                rowTDO:null
            },
            mounted:function(){
                this.createcode();//需要触发的函数
            },
            methods:{
                createcode(){
                    if(this.search.selectStatus=='不限'||this.search.selectStatus==''){this.search.selectStatus=null}
                    if(this.search.selectJob=='不限'||this.search.selectJob==''){this.search.selectJob=null}
                    if(this.search.education=='不限'||this.search.education==''){this.search.education=null}
                    if(this.search.lengthOfSchooling=='不限'||this.search.lengthOfSchooling==''){this.search.lengthOfSchooling=null}
                    if(this.search.foreignLanguages=='不限'||this.search.foreignLanguages==''){this.search.foreignLanguages=null}
                    if(this.search.sex=='不限'||this.search.sex==''){this.search.sex=null}
                    if(this.search.studentName=='不限'||this.search.studentName==''){this.search.studentName=null}
                    this.userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
                    this.search.companyId=this.userInfo.id;
                    this.search.crrPage=1;
                    axios.post('/job-resume/company',this.search).then(response=>{
                        if (response.data.code==200){
                            this.List=response.data.data;
                            this.total=parseInt(response.data.msg);
                        }else{
                            this.List=[];
                            this.$message.error(response.data.msg);
                        }
                    });
                    axios.post("/job/getJobByCompanyId",this.userInfo).then((response)=>{
                        if (response.data.code==200){
                            this.jobNameList = response.data.data;
                        }else{
                            this.$message.error("获取职位失败");
                        }
                    })
                },
                showJob(row){
                    console.log(row)
                    sessionStorage.setItem("search", JSON.stringify(row));
                    location.href='/page/job';
                },
                showResune(row){
                    if(!(row.sendStatus=='已查阅'||row.sendStatus=='人才库'||row.sendStatus=="已回复")){
                        row.sendStatus='已查阅';
                        this.$options.methods.updateJResume(row);
                    }
                    window.open(row.attachment);
                },
                closeResune(row){
                    if(!(row.sendStatus=='人才库')){
                        row.sendStatus='人才库';
                        this.$options.methods.updateJResume(row);
                        this.sendMsg.email=row.email;
                        this.sendMsg.title='投递状态通知';
                        this.sendMsg.content="你使用["+row.resumeName+"]简历投递["
                            +this.userInfo.companyName+']的['
                            +row.jobName+']的记录已被该公司纳入人才库！'
                        axios.post('/email/reply',this.sendMsg).then(response=> {
                            if (response.data.code == 200) {
                                this.$message({
                                    message: response.data.msg,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        });
                        this.sendMsg.email=null;
                        this.sendMsg.title='';
                        this.sendMsg.content='';

                    }
                },
                callResune(row){
                    this.dialogSendEmail= true;
                    this.sendMsg.email=row.email;
                    this.rowTDO=row;
                },
                updateJResume(row){
                    axios.post('/job-resume/updateStatus',row).then(response=>{
                        if (response.data.code==200){
                            this.List=response.data.data;
                            console.log(this.List)
                        }else{
                            this.$message.error(response.data.msg);
                        }
                    });
                },
                sendEmail(){
                    axios.post('/email/reply',this.sendMsg).then(response=> {
                        if (response.data.code == 200) {
                            this.$message({
                                message: response.data.msg,
                                type: 'success'
                            });
                            this.dialogSendEmail=false;
                            if(!(this.rowTDO.sendStatus=='已回复')){
                                this.rowTDO.sendStatus='已回复';
                                this.$options.methods.updateJResume(this.rowTDO);
                            }
                        } else {
                            this.$message.error(response.data.msg);
                        }
                    });
                },
                prevClick(page){
                    this.search.crrPage=page;
                    this.$options.methods.page(this);
                },
                nextClick(page){
                    this.search.crrPage=page;
                    this.$options.methods.page(this);
                },
                currentChange(page){
                    this.search.crrPage=page;
                    this.$options.methods.page(this);
                },
                page(_this){
                    if(_this.search.selectStatus=='不限'||_this.search.selectStatus==''){_this.search.selectStatus=null}
                    if(_this.search.selectJob=='不限'||_this.search.selectJob==''){_this.search.selectJob=null}
                    if(_this.search.education=='不限'||_this.search.education==''){_this.search.education=null}
                    if(_this.search.lengthOfSchooling=='不限'||_this.search.lengthOfSchooling==''){_this.search.lengthOfSchooling=null}
                    if(_this.search.foreignLanguages=='不限'||_this.search.foreignLanguages==''){_this.search.foreignLanguages=null}
                    if(_this.search.sex=='不限'||_this.search.sex==''){_this.search.sex=null}
                    if(_this.search.studentName=='不限'||_this.search.studentName==''){_this.search.studentName=null}
                    _this.userInfo=JSON.parse(sessionStorage.getItem("userInfo"));
                    _this.search.companyId=_this.userInfo.id;
                    axios.post('/job-resume/company',_this.search).then(response=>{
                        if (response.data.code==200){
                            _this.List=response.data.data;
                            _this.total=parseInt(response.data.msg);
                        }else{
                            _this.$message.error(response.data.msg);
                        }
                    })
                }
            }
        })
    </script>
</div>
</body>
</html>
